<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>PUGS 2.0</title>
</head>
<body>
    <header>
        <div class="logo-main">
            <img src="../static/images/pugs.jpeg">
        </div>
        <nav class="nav-pugs">
            <ul>
                <li><a href="index.html">PUGS 2.0</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section-title">
            <div class="box-main-title">
                <h1>PUGS 2.0: ¿Que es, para que sirve y como funciona?</h1>
            </div>
            <div class="video-example-chat">
                <video src="../static/video/chat.mp4" autoplay muted loop class="video-chatbot"></video>
            </div>
        </section>
        <section class="text">
            <div class="information-text">
                <p>PUGS 2.0 es un prototipo de chabot de inteligencia artificial desarrollado por Novatec.py 
                    que se especializa en el servicio al cliente. <br><br>
                    
                    ¿para que sirve?: el chat permite a los consumidores puedan obtener
                     ayuda a traves de diferentes medio de comunicacion 
                    como lo son WhatsApp o mediantes pagina web todo esto en tiempo real<br><br>

                    ¿Como funciona?: es un chatbot creado en base a redes Neuronales la cual otorga una respuesta
                    rapida segun se le pregunte al chatbot
                    </p>
            </div>
        </section>
        <section class="text-chat">
            <div class="text-chat-bot">
                <p>Prueba Nuestro ChatBot</p>
            </div>
            <div>
            </div>
        </section>
        <section class="section-chat">
            <div class="container">
                <div class="chatbox">
                    <div class="chatbox__support">
                        <div class="chatbox__header">
                            <div class="chatbox__image--header">
                                <!--"-->
                                <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                            </div>
                            <div class="chatbox__content--header">
                                <h4 class="chatbox__heading--header">PUGS</h4>
                                <p class="chatbox__description--header">Hola soy PUGS, en que te ayudo?</p>
                            </div>
                        </div>
                        <div class="chatbox__messages">
                            <div></div>
                        </div>
                        <div class="chatbox__footer">
                            <input type="text" placeholder="Escriba un mensaje...">
                            <button class="chatbox__send--footer send__button">Enviar</button>
                        </div>
                    </div>
                    <div class="chatbox__button">
                        <button><img src="../static/images/bot-conversacional.png" /></button>
                    </div>
                </div>
            </div> 
                <script src="../static/javascript/pa.js"></script>
        </section>
    </main>
</body>
</html>